<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visual Comparison of Commercial Entities</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<nav id="body-navbar" class="navbar navbar-inverse navbar-static-top">
    <!-- container to make the display of navbar to be centered -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand hidden-sm" href="#"> Visual Comparison of Commercial Entities</a>
        </div>

        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li v-for="item in buttons">
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div id="control-view" class="col-sm-2 col-md-2 sidebar">
            <section style="margin-top: 1px">
                <h3 style="margin-top: 0px;background-color: #aaaaaa;">Control Pannel</h3>
                <div id="control_pannel">
                    <div>
                        <span style="display: inline-block; width: 20%;">City:</span>
                        <select v-model="selected_city" style="display: inline; width: 50%;"
                                v-on:change="onCityOrTypeChanged">
                            <option v-for="city in cities" v-bind:value="city">
                                {{city}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <span style="display: inline-block; width: 20%;">Type:</span>
                        <select v-model="selected_type" style="display: inline; width: 50%;"
                                v-on:change="onCityOrTypeChanged">
                            <option v-for="type in types" v-bind:value="type">
                                {{type}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <span style="display: inline-block; width: 40%;">Area Selection: </span>
                        <input type="checkbox" v-model="area_selection" v-on:change="onAreaSelectionChange"
                               style="width: 30%">
                    </div>
                    <div>
                        <button v-on:click="onSubmitSelectionArea">{{area_selection_button_text}}</button>
                        <button v-on:click="onClearSelectionArea">Clear Selection</button>
                    </div>

                    <div>
                        <span style="display: inline; width: 25%;">Max Price Level: </span>
                        <span style="display: inline; width: 25%;">{{price_slider.cur_max}}</span>
                        <input type="range" v-model="price_slider.cur_max" v-bind:min="price_slider.min"
                               v-bind:max="price_slider.max" style="display: inline; width: 45%; float: right;">
                    </div>
                    <div>
                        <span style="display: inline; width: 25%;">Min Customer: </span>
                        <span style="display: inline; width: 25%;">{{customer_slider.cur_min}}</span>
                        <input type="range" v-model="customer_slider.cur_min" v-bind:min="customer_slider.min"
                               v-bind:max="customer_slider.max" style="display: inline; width: 45%; float: right;">
                    </div>
                    <div>
                        <span style="display: inline; width: 25%;">Min Rating: </span>
                        <span style="display: inline; width: 25%;">{{rating_slider.cur_min}}</span>
                        <input type="range" v-model="rating_slider.cur_min" v-bind:min="rating_slider.min"
                               v-bind:max="rating_slider.max" style="display: inline; width: 45%; float: right;">
                    </div>
                    <div>
                        <span style="display: inline; width: 25%;">Min Link: </span>
                        <span style="display: inline; width: 25%;">{{link_slider.cur_min}}</span>
                        <input type="range" v-model="link_slider.cur_min" v-bind:min="link_slider.min"
                               v-bind:max="link_slider.max" style="display: inline; width: 45%; float: right;">
                    </div>

                    <div>
                        <button v-on:click="onConfirmSliderFiltering">Confirm Filtering</button>
                    </div>

                </div>

            </section>
            <section>
                <h3 style="margin-top: 0px;background-color: #aaaaaa;">Search&Table View</h3>
            </section>
        </div>
        <div id="mapView" class="col-sm-5 col-md-5 sidebar">
            <h3 style="background-color: #aaaaaa; margin-top: 1px; margin-bottom: 0px">Map View</h3>
            <section id="mapViewRealMap">
            </section>
        </div>
        <div id="commonCustomerComparisonView" class="col-sm-5 col-md-5 sidebar">
            <h3 style="background-color: #aaaaaa; margin-top: 1px; margin-bottom: 0px">Common Customer Comparison View</h3>
            <section>
            </section>
        </div>
    </div>
</div>

<script src="https://d3js.org/d3.v3.js"></script>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/vue2.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

<!--<script src="js/lib/vuejs-slider.min.js"></script>-->

<script src="js/marked.min.js"></script>
<script src="js/lib/NodeLink.js"></script>
<script src="js/lib/venueGlyph.js"></script>

<script src="js/service/pipService.js"></script>
<script src="js/service/dataService.js"></script>

<!--<script src="js/vue-model/graphView.js"></script>-->
<script src="js/vue-model/control-view.js"></script>
<script src="js/vue-model/mapView.js"></script>
<script src="js/vue-model/commonCustomerView.js"></script>


</body>
</html>